<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869297517555-82n289nn0evnbuhnurajhucru48qq7cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869297517555-82n289nn0evnbuhnurajhucru48qq7cu</string>
	<key>API_KEY</key>
	<string>AIzaSyBnqgEaesTsZSZDXLsJBON8Sh0aEGnlnV0</string>
	<key>GCM_SENDER_ID</key>
	<string>869297517555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.vo.danny.MessageApp</string>
	<key>PROJECT_ID</key>
	<string>messageapp-4c059</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-4c059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869297517555:ios:b56b868471908bc8301886</string>
	<key>DATABASE_URL</key>
	<string>https://messageapp-4c059.firebaseio.com</string>
</dict>
</plist>